@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800');
html,
body {
  font-family: 'Raleway', sans-serif;
  background: #eee;
  text-align: center;
  color: #978adc;
  margin: 10px 0;
}
#gameID {
  display: inline;
  font-weight: 600;
}

/* canvas */
#canvas {
  position: relative;
  top: 0px;
  width: 400px;
  height: 400px;
  margin: 20px auto;
  font-size: 0px;
  border: 1px solid #29acb9;
  border-width: 0 0 4px 1px;
  border-radius: 6px;
  overflow: hidden;
  background: #29acb9;
  box-shadow: 0 20px 15px -10px rgba(0, 0, 0, 0.15);
  transition: all ease 0.3s;
}
#canvas.active {
  top: 2px;
  box-shadow: 0 11px 10px -5px rgba(0, 0, 0, 0.15);
}
#canvas.waiting {
  background: #ddd;
}
#canvas.error {
  background: red;
}

/* cell */
.cell {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background-color: #978adc;
  font-size: 0;
  border: 1px solid #00d3e8;
  border-width: 1px 1px 0 0;
  transition: all ease 0.3s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  -webkit-touch-callout: none;  /* iOS Safari */
  -webkit-user-select: none;    /* Safari */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* Internet Explorer/Edge */
  user-select: none;            /* Non-prefixed */
}
.cell:first-child {
  border-radius: 5px 0 0 0;
}
.cell:nth-child(10) {
  border-radius: 0 5px 0 0;
}
.cell:nth-child(91) {
  border-radius: 0 0 0 5px;
}
.cell:last-child {
  border-radius: 0 0 5px 0;
}
.cell.active {
  background: #8174c7;
}
.cell.hover {
  background: #b0a5ec;
  cursor: pointer;
}
.cell.revealed {
  font-size: 16px;
  background: #72f2ff;
}
.cell.bee {
  background: #ffe000;
}
